#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.btn-create{
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  background-color: #0ab979;
  color: white;
  border-radius: 5px;
}
.btn-edit, 
.btn-delete{
  font-size: 18px;
  width: 50px;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,.1);
}
.btn-edit{
  color: #04AA6D;
 &:hover{

 }
}
.btn-delete{
  color: #cc3009;
}