* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: black;
}

body {
  // margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 h1{
   font-family: 'Roboto';
   font-size: 30px;
 }
 h2{
   font-size: 23px;
 }
 h3{
   font-size: 16px;
 }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-navbar{
  background-color: #fcddef;
}

.input-search{
  width: 100%;
}
// css slick
.slick-slider{
  .slick-prev{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(236, 219, 219, .5);
    margin-left: 15px;
    z-index: 1;
    &:hover{
      background-color: rgba(236, 219, 219, .9);
    }
  }
  .slick-next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(236, 219, 219, .5);
    margin-right: 15px;
    &:hover{
    background-color: rgba(236, 219, 219, .9);
    transition: 0.5;

    }
  }
  ul.slick-dots {
    margin-bottom: 0px;
  }
}
// * css slick

.img-banner1 img{
  border-radius: 10px;
}

.img-banner1 img, .img-banner2 img{
  width: 100%;
  height: 100%;
  cursor: pointer;

}

.nxb-book{
  border: solid 1px #fcddef;
  border-radius: 10px;
  
}
.btn-web,
.btn-modal{
  text-align: center;
  font-weight: 500;
  
  border: none;
  margin: auto;
}

.btn-web{
  height: 45px;
  width: 300px;
  border-radius: 15px;
  background-color: #fcddef;
  outline: solid white 1px;
}

.btn-modal{
  height: 38px;
  color: white;
  border-radius: 5px;
  background-color: #0ab979;
}

.pass-input{
  position: relative;
}
.pass-eye{
  position:absolute;
  top: 6px;
  right: 15px;
  cursor: pointer;
}

.hover-web:hover{
  opacity: 85%;
}
.cursor-p{
  cursor: pointer;
}

