
.social{
    font-size: 23px;
    .c-facebook:hover,
    .c-twitter:hover,
    .c-google:hover,
    .c-instagram:hover,
    .c-github:hover{
      opacity: 60%;
    }
    .c-facebook{
      color: #0d6efd;
    }
    .c-twitter{
      color: #179cf0;
    }
    .c-google{
      color: #d34338;
    }
    .c-instagram{
      color: #f3845b;
    }
    .c-github{
      color: black;
    }
  }